<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <properties resource="config.properties"></properties>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
      
    <environments default="dev"> 
        <environment id="dev"> 
           <transactionManager type="JDBC" /> 
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/> 
                <property name="username" value=""/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/wechat/dao/sqlite/dao/IContactDao.xml"></mapper>
        <mapper resource="com/wechat/dao/sqlite/dao/IWechatMsgDao.xml"></mapper>
        <mapper resource="com/wechat/dao/sqlite/dao/IWelcomeMsgDao.xml"></mapper>
        <mapper resource="com/wechat/dao/sqlite/dao/IWechatTimingMsgDao.xml"></mapper>
        <mapper resource="com/wechat/dao/sqlite/dao/IWechatGroupInviteJobLogDao.xml"></mapper>
        <mapper resource="com/wechat/dao/sqlite/dao/IWechatKeywordDao.xml"></mapper>  
        <mapper resource="com/wechat/dao/sqlite/dao/IFutureMsgDao.xml"></mapper>  
        <mapper resource="com/wechat/dao/sqlite/dao/IEnglishSignUpDao.xml"></mapper>   
         <mapper resource="com/wechat/dao/sqlite/dao/IGroupInviteStatisticsDao.xml"></mapper>
        <mapper resource="com/wechat/dao/sqlite/dao/IGroupInfoDao.xml"></mapper>
        <mapper resource="com/wechat/dao/sqlite/dao/IMediaFileDao.xml"></mapper>        
         
    </mappers>
</configuration>